<footer>
    <div class="footer-container">
        <div class="footer-menu">
            <h4 class="footer-heading">Help & Information</h4>
            <ul>
                <li><a>Help</a></li>
                <li><a>Track Order</a></li>
                <li><a>Delivery & Returns</a></li>
                <li><a>Premier Delivery</a></li>
                <li><a>10% Student Discount</a></li>
            </ul>
        </div>

        <div class="footer-menu menu-padding">
            <h4 class="footer-heading">About Us</h4>
            <ul>
                <li><a>About Us</a></li>
                <li><a>Careers at Hot Styles</a></li>
                <li><a>Corporate Responsibility</a></li>
                <li><a>Investors Site</a></li>
            </ul>
        </div>
        
        <div class="footer-menu menu-padding">
            <h4 class="footer-heading">More From Us</h4>
            <ul>
                <li><a>Gift vouchers</a></li>
                <li><a>Mobile apps</a></li>
                <li><a>Social Media</a></li>
            </ul>
        </div>
    </div>
    <br>
    <h4 id="author">Created by Vaughn Vanlange</h4>
</footer>