<footer>
    <div class="footer-nav">
        <div class="footer-socials">
            <img class="social-icon" src="/images/facebook-icon.png">
            <img class="social-icon" src="/images/instagram.png">
            <img class="social-icon" src="/images/snapchat.png">
            <span class="social-divider"></span>
            <img class="pay-icon" src="/images/visa.png">
            <img class="pay-icon" src="/images/mastercard.png">
            <img class="pay-icon" src="/images/paypal.png">
            <img class="pay-icon" src="/images/american-express.png">
            <img class="pay-icon" src="/images/apple-pay.png">
        </div>
        <div class="footer-links">
            <div class="help link-spacing">
                <h4>Help & Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Premier Delivery</a></li>
                    <li><a href="#">10% Student Discount</a></li>
                </ul>
            </div>
            <div class="about link-spacing">
                <h4>About Asos</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers at ASOS</a></li>
                    <li><a href="#">Corporate Responsibility</a></li>
                    <li><a href="#">Investors Site</a></li>
                </ul>
                
            </div>
            <div class="more link-spacing">
                <h4>More from Asos</h4>
                <ul>
                    <li><a href="#">Gift vouchers</a></li>
                    <li><a href="#">Mobile and ASOS Apps</a></li>
                    <li><a href="#">ASOS Marketplace</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <p class="footer-copy">&copy 2019 ASOS</p>
        <p class="footer-privacy">Privacy & Cookies | Ts&Cs</p>
    </div>
</footer>