<header>
    <div class="hot-styles">
        <h1 class="logo">Hot Styles!</h1>
        <div class="hover-list">
            <a class="hover-item" href="#">Sale Items</a>
            <a class="hover-item" href="#">Winter Wear</a>
            <a class="hover-item" href="#">Summer Wear</a>
            <a class="hover-item" href="#">Swim Wear</a>
            <a class="hover-item" href="#">Accessories</a>
        </div>

    </div>
        
    
    <ul class="menu">
        <li class="menu-list">Men</li>
        <li class="menu-list">Women</li>
        <input type="search" class="search-bar" placeholder="Search for Items...">
        <div class="menu-buttons">
            <button class="button" id="login-button">Login</button>
            <button class="button" id="signin-button">Sign In</button>
        </div>
    </ul>
</header>