<header>
  <div class="header-container">
      <div class="header-title">
              <img class="menu" src="./images/menu-24.png" alt="menu">
        <H2 class="logo">asos</H2>
      </div>
      <div class="header-icons">
        <img class="icon" src="./images/search-24.png" alt="menu">
        <img class="icon" src="./images/user-24.png" alt="menu">
        <img class="icon" src="./images/favorite-24.png" alt="menu">
        <img class="icon" src="./images/briefcase-24.png" alt="menu">
      </div>
      
  </div>
</header>