<header>
  <div class="header-container">
      <div class="header-title">
          <div class="menu-icon"> 
              <img src="./images/menu-24.png" alt="menu">
          </div>
              
        <a href="#"><H2 class="logo">asos</H2></a>
      </div>
      <div class="widescreen-menu">
        <div class="women-menu">
          <h4>Women</h4>
        </div>
        <div class="men-menu">
          <h4>Men</h4>
        </div>
        <div class="search-bar">
          <input type="text">
        </div>
      </div>
      <div class="header-icons">
        <img class="search-icon icon" src="./images/search-24.png" alt="menu">
        <img class="icon" src="./images/user-24.png" alt="menu">
        <img class="icon" src="./images/favorite-24.png" alt="menu">
        <img class="icon" src="./images/briefcase-24.png" alt="menu">
      </div>
      
  </div>
  <div class="widescreen-menu-list">
    <div class="list-container">
      <ul>
        <li class="widescreen-menu-hover">New in</li>
        <li class="widescreen-menu-hover">Clothing</li>
        <li class="widescreen-menu-hover">Shoes</li>
        <li class="widescreen-menu-hover">Accessories</li>
        <li class="widescreen-menu-hover">Activewear</li>
        <li class="widescreen-menu-hover">Face + Body</li>
        <li class="widescreen-menu-hover">Living + Gifts</li>
        <li class="widescreen-menu-hover">Brands</li>
        <div class="outlet-list "><li id="outlet"><div class="outlet">Outlet</div></li></div>
        <li class="widescreen-menu-hover">Marketplace</li>
        <li class="widescreen-menu-hover">Inspiration</li>
      </ul>
    </div>
    <div class="lower-menu"> 
      <div class="menu">
        <div class="menu-container">
            <div class="list">
                <h4>New Products</h4>
                <ul>
                    <li><a href="#">View all</a></li>
                    <li><a href="#">Clothing</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Face + Body</a></li>
                    <li><a href="#">Living + Gifts</a></li>
                    <li><a href="#">Back in stock</a></li>
                    <li><a href="#">ASOS DESIGN</a></li>
                    <li><a href="#">ASOS Magazine</a></li>
                    <li><a href="#">Trending Now</a></li>
                </ul>
            </div>
            <div class="menu-pics">
                   
                <div class="pics-container">
                        <h4 id="pics-heading">New Edits</h4>
                    <div class="individual-pic-container">
                        <img class="pics-list" src="images/beanie.jpg">
                        <div class="pic-title">STYLE EDIT</div>
                    </div>
                    <div class="individual-pic-container">
                        <img class="pics-list" src="images/guy-in-jacket.jpg">
                        <div class="pic-title">GOING OUT</div>
                    </div>
                    <div class="individual-pic-container">
                        <img class="pics-list" src="images/shirt.jpg">
                        <div class="pic-title">SHIRTS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  
</header>